// Address block
#address-telephone-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  max-width: 1100px;
  background-color: $gray-dark;
  color: $white;
  border-radius: 200px;
  padding: 15px;
  margin: 0 auto 90px auto;
  font-size: 1rem;

  img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  .outer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 30px;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  h5 {
    color: $white;
    margin-bottom: 5px;
  }

  span.telephone-button {
    display: flex;
    margin: 5px 0 0 0;
    padding: 5px 15px;

    a {
      text-decoration: none;
      font-weight: $font-weight-bold;
      font-size: 1rem;
    }

    svg {
      margin-right: 5px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #address-telephone-block {
    .outer-wrapper {
      gap: 10px;
    }

    h5 {
      margin-bottom: 0px;
      font-size: 1.2rem;
    }    
  }
}

@media screen and (max-width: 767px) {
  #address-telephone-block {
    flex-direction: column;
    max-width: 360px;
    padding: 30px;
    border-radius: $border-radius;
  
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  
    .outer-wrapper {
      padding-right: 0;
    }
  
    .inner-wrapper {
      flex-direction: column;
      text-align: center;

      span.comma {
        display: none;
      }
    }

    h5 {
      text-align: center;
    }
  }
}