// Footer
footer {
  padding: 15px 0 45px 0;
  background-color: $white;
  font-size: medium;
  color: $gray-dark;
  border-top: $border-thick solid $gray;

  .upper-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .lower-footer {
    padding-top: 30px;
    padding-bottom: 90px;
  }

  a {
    color: $gray-dark;
    &:hover,
    &:active {
      color: $red;
    }
  }
}

#block-arun10-bacplogo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#footer-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  span {
    display: block;
  }

  span.charity {
    margin-bottom: 15px;
  }

  i,
  svg {
    margin-right: 5px;
  }
}

#hyperluminal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  text-align: center;

  span.text {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 2px;
  }

  img {
    width: 100px;
    height: auto;
  }
}


#block-arun10-sponsorlogos {
  margin-bottom: 90px;
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
}

#sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;

  img {
    height: auto;
  }

  .lottery img {width: 240px;}
  .chalk-cliff-trust img {height: 64px; width: auto;}
  .chamber-member img {height: 64px; width: auto;}
  .lions img {width: 120px;}
  .bognor-regis-tc img {height: 64px; width: auto;}
  .postcode-society img {height: 64px; width: auto;}
  .sussex-community img {height: 64px; width: auto;}
  .disability-confident img {height: 64px; width: auto;}
  .foyle-foundation img {width: 240px;}
  .littlehampton-town-council img {height: 95px; width: auto;}
}  


@media screen and (max-width: 499px) {
  footer {
    border-top: $border-thin solid $gray;
  }
}