// Address block
#address-telephone-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  max-width: 1100px;
  background-color: $gray-dark;
  color: $white;
  border-radius: $border-radius;
  border-radius: 200px;
  padding: 15px;
  margin: 0 auto 90px auto;
  font-size: 1rem;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .outer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h5 {
    color: $white;
    margin-bottom: 5px;
  }

  .round-button {

    a {
      display: inline-flex;
      width: 150px;
      height: 30px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: $white;
      color: $blue;
      border-radius: 50px;
      margin-right: 10px;

      &:hover,
      &:focus {
        background-color: $red;
        color: $white;
      }
    }

    svg {
      margin-right: 5px;
    }

    span {
      // display: none;
    }  
  }
}


// Footer
footer {
  padding: 15px 0 45px 0;
  background-color: $white;
  font-size: medium;
  color: $gray-dark;
  border-top: $border-thick solid $gray;

  .upper-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .lower-footer {
    padding-top: 30px;
    padding-bottom: 90px;
  }

  a {
    color: $gray-dark;
    &:hover,
    &:active {
      color: $red;
    }
  }
}

#block-arun10-bacplogo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#footer-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  span {
    display: block;
  }

  span.charity {
    margin-bottom: 15px;
  }

  i,
  svg {
    margin-right: 5px;
  }
}

#hyperluminal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  text-align: center;

  span.text {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 2px;
  }

  img {
    width: 100px;
    height: auto;
  }
}


#block-arun10-sponsorlogos {
  margin-bottom: 90px;
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
}

#sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;

  img {
    height: auto;
  }

  .lottery img {width: 240px;}
  .lions img {width: 120px;}
  .sussex-community img {width: 140px;}
}  


@media screen and (max-width: 499px) {
  footer {
    border-top: $border-thin solid $gray;
  }
}