.path-frontpage {
  ul.nav-tabs {
    justify-content: center !important;
  }

  main .region-content {
    max-width: inherit;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  #top-content .region {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    > div {
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: $white;
      text-align: center;
      padding: 30px;
      border-radius: 300px 300px 90px 90px;
      margin-bottom: 30px;

      > h2 {
        display: none;
      }

      h2 {
        color: $white;
        margin-bottom: 15px;
      }
  
      .field--name-field-image {
        margin-bottom: 15px;
      }
  
      img {
        border-radius: 50%;
      }
  
      .field--name-body {
        max-width: 850px;
        margin: 0 auto 0 auto;
      }
    }
  }

  #block-arun10-forindividuals-2    {background-color: $blue;   }
  #block-arun10-foremployers-2      {background-color: $red;    }
  #block-arun10-forprofessionals-2  {background-color: $orange; }
}

@media screen and (min-width: 500px) and (max-width: 991px) {
  .path-frontpage {
    #top-content .region {
      > div {
        img {
          max-width: 300px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .path-frontpage {
    #top-content .region {
      > div {
        h2 {
          font-size: 1.8rem;
        }
      }
    }  
  }
}

@media screen and (max-width: 991px) {
  .path-frontpage {
    #top-content .region {
      flex-direction: column;

      > div {
        border-radius: $border-radius;
      }
    }  
  }
}


@media screen and (max-width: 499px) {
  .path-frontpage {
    #top-content .region {
      > div {
        font-size: 1rem;
        padding: 20px;
      }
    }  
  }
}
