header {
  padding-top: 30px;
  margin-bottom: 45px;
  background-color: $white;
  border-bottom: 6px solid $gray;
}

#header_upper_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 30px;
}

#header_upper_container_left {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

#header_upper_container_right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}