#block-arun10-mainnavigation {

  nav.tbm {
    background-color: inherit;
  }

  // Centre align the main navigation
  ul.tbm-nav {
    justify-content: center;

    > li,
    .tbm-link.level-1 {
      border-radius: 20px 20px 0 0;
      border-right: inherit;
      margin: 0 5px;
    }

    .tbm-link.level-1 {
        color: $white;
        font-size: 1rem;
        line-height: 1;
        font-weight: $font-weight-bold;
        text-decoration: none;
    }

    .tbm-submenu {
      padding: 30px;
      border-radius: 20px;

      .field--name-field-media-image {
        margin-bottom: 10px;
        img {
          border-radius: $border-radius;
        }
      }

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: $gray-dark;
        }
      }

    }
  }

  // Colour code the main menu items
  // Home = gray
  .menu-home,
  .menu-home .tbm-link.level-1:hover,
  .menu-home.open .tbm-link.level-1 {
    background-color: $gray-dark;
  }
  .tbm-item.menu-home .tbm-submenu {
    border: 6px solid $gray-dark;
  }


  // Individuals = blue
  .menu-individuals,
  .menu-individuals .tbm-link.level-1:hover,
  .menu-individuals.open .tbm-link.level-1 {
    background-color: $blue;
  }
  .tbm-item.menu-individuals .tbm-submenu {
    border: 6px solid $blue;
  }

  // Employers = red
  .menu-employers,
  .menu-employers .tbm-link.level-1:hover,
  .menu-employers.open .tbm-link.level-1 {
    background-color: $red;
  }
  .tbm-item.menu-employers .tbm-submenu {
    border: 6px solid $red;
  }

  // Professionals = orange
  .menu-professionals,
  .menu-professionals .tbm-link.level-1:hover,
  .menu-professionals.open .tbm-link.level-1 {
    background-color: $orange;
  }
  .tbm-item.menu-professionals .tbm-submenu {
    border: 6px solid $orange;
  }

  // About = teal
  .menu-about,
  .menu-about .tbm-link.level-1:hover,
  .menu-about.open .tbm-link.level-1 {
    background-color: $teal;
  }
  .tbm-item.menu-about .tbm-submenu {
    border: 6px solid $teal;
  }


  // Structure the mega menu
  .tbm-submenu {
    .tbm-row:first-of-type {
      float: left;
      width: 300px;
      margin-right: 45px;
    }
  }

}