// Main page content
main .region-content {
  max-width: 850px;
  margin: 30px auto 90px auto;
}



.mm-page,
.mm-wrapper_background body {
  background-color: $gray-300;
}


// Branding

.navbar-brand a.site-title {
  font-family: 'Licorice', cursive;
  font-weight: 600;
  color: $gray-dark;
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: inherit;
  text-transform: inherit;
}



// Section banners
#section-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-width: 850px;
  margin: 0 auto 15px auto;
  padding: 5px;
  border-radius: 40px;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: $white;
  }

  .text {
    font-family: $headings-font-family;
    font-size: 1rem;
    line-height: 1;
    font-weight: $font-weight-bold;
    color: $white;
  }

}

#section-banner.section-individuals {
  background-color: $blue;
  .icon {color: $blue;}
}

#section-banner.section-employers {
  background-color: $red;
  .icon {color: $red;
  }
}

#section-banner.section-professionals {
  background-color: $orange;
  .icon {color: $orange;
  }
}

#section-banner.section-about {
  background-color: $teal;
  .icon {color: $teal;
  }
}




#block-arun10-content {
  .field--name-field-media-image {
    margin-bottom: 30px;
  
    img {
      border-radius: $border-radius;
    }
  }
}