.view-announcements,
#block-arun10-views-block-announcements-block-1 {
  text-align: center;

  h2 {
    margin-bottom: 15px;
  }

  .views-row {
    margin-bottom: 45px;
  }

  .views-field-created {
    font-weight: $font-weight-bold;
    margin-bottom: 5px;
  }

  .views-field-body {
    margin-bottom: 5px;
  }
}
